{{!--
Partial : Stats Top Artists / Songs
--}}


{{!-- --------------------Gestion des Tabs Ton Artists && Top Songs-------------------- --}}
<ul class="nav nav-pills mt-5 me-5 d-flex justify-content-end" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <form action="/getTopArtists?4w">
            <button class="nav-link active " id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                type="button" role="tab" aria-controls="pills-home" aria-selected="true">4 Weeks</button>
        </form>
    </li>
    <li class="nav-item" role="presentation">
        <form action="/getTopArtists?6m">

            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                type="button" role="tab" aria-controls="pills-profile" aria-selected="false">6 Months</button>
        </form>
    </li>
    <li class="nav-item" role="presentation">
        <form action="/getTopArtists?all">
            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
                type="button" role="tab" aria-controls="pills-contact" aria-selected="false">All Time</button>
        </form>
    </li>
</ul>

{{!--
---------------------------- 4 Weeks / Semaines ----------------
--}}
{{!-- -------------------- Top Artists ----------------------------- --}}

<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="container mt-5 ">
            <div class="row ">
                {{#if dbA4W}}
                <div class="col">
                    <h5 class="fs-2 ">Top Artists</h5>
                    <button class="btn btn-outline-light rounded-4 mt-3 fs-5 "><i class="fa-solid fa-share-nodes "></i>
                        Share</button>
                    <div class="mt-300">
                        <ul class="mt-3 fs-4 " style="list-style-type: decimal">
                            {{#each dbA4W.items}}
                            <li> {{ this.name }} </li>
                            {{/each }}
                        </ul>
                    </div>
                    <h5 class="text-custom mb-5">See More</h5>
                </div>


                {{!-- -----------------------Images-------------------- --}}
                <div class="avatar-group rel col d-flex align-items-center ">
                    {{#each topArrayArtists4W }}
                    <div class="avatar order-{{ orderImage @index }} mt-5">
                        <img src="{{ this.images.url }}" alt="Avatar" class="rounded-circle img-top-artists ms-3">
                    </div>
                    {{/each }}
                </div>
                {{/if}}
            </div>
        </div>

        {{!-- -------------------- Top Songs ----------------------------- --}}
        <div class="container mt-5 ">
            <div class="row">
                {{#if dbT4W}}
                <div class="col">
                    <h5 class="fs-2">Top Songs</h5>
                    <div class="d-flex">
                        <button class="btn btn-outline-light rounded-4 mt-3 fs-5 "><i
                                class="fa-solid fa-share-nodes "></i>
                            Share</button>

                        <button class="btn btn-outline-light rounded-4 mt-3 fs-5 "><i
                                class="fa-solid fa-floppy-disk"></i>
                            Create Playlist</button>
                    </div>
                    <div class="mt-300">
                        <ul class="mt-3 fs-4" style="list-style-type: decimal">
                            {{#each dbT4W.items}}
                            <li> {{ this.name }} </li>
                            {{/each }}
                        </ul>
                    </div>
                    <h5 class="text-custom">See More</h5>
                </div>

                <div class="col mt-5 text-center">
                    <div class="container ">
                        <div class="row mt-resp-20">

                            {{!-- -----------------------Images-------------------- --}}
                            <div class="avatar-group rel col d-flex align-items-center ">
                                {{#each topArrayTracks4W }}
                                <div class="avatar order-{{ orderImage @index }} mt-5">
                                    <img src="{{ this.images.url }}" alt="Avatar"
                                        class="img-top-artists ms-3">
                                </div>
                                {{/each }}
                            </div>
                        </div>
                    </div>

                </div>
                {{/if}}
            </div>
        </div>

    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

        {{!--
        ---------------------------- 6 Months / Mois ----------------
        --}}
        {{!-- -------------------- Top Artists ----------------------------- --}}
        <div class="container mt-5">
            <div class="row">
                {{#if dbA6M}}
                <div class="col">
                    <h5 class="fs-2">Top Artists</h5>
                    <button class="btn btn-outline-light rounded-4 mt-3 fs-5 "><i class="fa-solid fa-share-nodes "></i>
                        Share</button>
                    <div class="mt-300">
                        <ul class="mt-3 fs-4" style="list-style-type: decimal">
                            {{#each dbA6M.items}}
                            <li> {{ this.name }} </li>
                            {{/each }}
                        </ul>
                    </div>
                    <h5 class="text-custom mb-5">See More</h5>
                </div>

                {{!--
                i = place
                0 = 2
                1 = 1
                2 = 3
                --}}
               {{!-- -----------------------Images-------------------- --}}
                <div class="avatar-group rel col d-flex align-items-center classement-image-top-3">
                    {{#each topArrayArtists6M }}
                    <div class="avatar order-{{ orderImage @index }} mt-5">
                        <img src="{{ this.images.url }}" alt="Avatar" class="rounded-circle img-top-artists ms-3">
                    </div>
                    {{/each }}
                </div>
                {{/if}}
            </div>
        </div>

        {{!-- -------------------- Top Songs ----------------------------- --}}
        <div class="container mt-5 ">
            {{#if dbT6M}}
            <div class="row">
                <div class="col">
                    <h5 class="fs-2">Top Songs</h5>
                    <div class="d-flex">
                        <button class="btn btn-outline-light rounded-4 mt-3 fs-5 "><i
                                class="fa-solid fa-share-nodes "></i>
                            Share</button>
                        <button class="btn btn-outline-light rounded-4 mt-3 fs-5 "><i
                                class="fa-solid fa-floppy-disk"></i>
                            Create Playlist</button>
                    </div>
                    <div class="mt-300">
                        <ul class="mt-3 fs-4" style="list-style-type: decimal">
                            {{#each dbT6M.items}}
                            <li>{{this.name}}</li>
                            {{/each }}
                        </ul>
                    </div>
                    <h5 class="text-custom">See More</h5>
                </div>

                {{!-- -----------------------Images-------------------- --}}

                <div class="col mt-5 text-center">
                    <div class="container ">
                        <div class="row mt-resp-20">

                            {{!-- 3eme Place --}}
                            <div class="avatar-group rel col d-flex align-items-center ">
                                {{#each topArrayTracks6M }}
                                <div class="avatar order-{{ orderImage @index }} mt-5">
                                    <img src="{{this.images.url}}" alt="Avatar" class="img-top-artists ms-3">
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>

    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
        {{!-- ---------------------------- All Time ---------------------------- --}}
        {{!-- -------------- Classement -------------- --}}
        <div class="container mt-5">
            <div class="row">
                {{#if dbAAL}}
                <div class="col">
                    <h5 class="fs-2">Top Artists</h5>
                    <button class="btn btn-outline-light rounded-4 mt-3 fs-5 "><i class="fa-solid fa-share-nodes "></i>
                        Share</button>
                    <div class="mt-300">
                        <ul class="mt-3 fs-4" style="list-style-type: decimal">
                            {{#each dbAAL.items}}
                            <li> {{ this.name }} </li>
                            {{/each }}
                        </ul>
                    </div>
                    <h5 class="text-custom mb-5">See More</h5>
                </div>

                {{!-- -------------- Avatar -------------- --}}
                <div class="avatar-group rel col d-flex align-items-center ">
                    {{#each topArrayArtistsAL }}
                    <div class="avatar order-{{ orderImage @index }} mt-5">
                        <img src="{{ this.images.url }}" alt="Avatar" class="rounded-circle img-top-artists ms-3">
                    </div>
                    {{/each }}
                </div>
                {{/if}}
            </div>
        </div>

        {{!-- -------------------- Top Songs ----------------------------- --}}
        <div class="container mt-5 ">
            {{#if dbTAL}}
            <div class="row">
                <div class="col">
                    <h5 class="fs-2">Top Songs</h5>
                    <div class="d-flex">
                        <button class="btn btn-outline-light rounded-4 mt-3 fs-5 "><i
                                class="fa-solid fa-share-nodes "></i>
                            Share</button>
                        <button class="btn btn-outline-light rounded-4 mt-3 fs-5 "><i
                                class="fa-solid fa-floppy-disk"></i>
                            Create Playlist</button>
                    </div>
                    <div class="mt-300">
                        <ul class="mt-3 fs-4" style="list-style-type: decimal">
                            {{#each dbTAL.items}}
                            <li>{{this.name}}</li>
                            {{/each }}
                        </ul>
                    </div>
                    <h5 class="text-custom">See More</h5>
                </div>

                {{!-- -------------- Avatar -------------- --}}
                <div class="col mt-5 text-center">
                    <div class="container">
                        <div class="row mt-resp-20">

                            {{!-- 3eme Place --}}
                            <div class="avatar-group rel col d-flex align-items-center ">
                                {{#each topArrayTracksAL }}
                                <div class="avatar order-{{ orderImage @index }} mt-5">
                                    <img src="{{this.images.url}}" alt="Avatar" class="img-top-artists ms-3">
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div>